<suite name="Docker test" parallel="tests">
  <test name="Test1">
    <parameter name="browser" value="firefox"/>
	<classes>
		<class name="grid.DropdownTesting"/>
      </classes>
  </test>
<test name="Test2">
    <parameter name="browser" value="chrome"/>
	<classes>
		<class name="grid.DropdownTesting"/>
      </classes>
  </test>
</suite> 